body {
  margin: 0;
  padding: 0;
}

#uiDataLoader {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.most-played-artists-list-wrapper,
.most-played-songs-list-wrapper {
  height: 14rem;
  overflow-y: auto;
  border: 1px solid black;
}

#uiMostPlayedArtists,
#uiMostPlayedSongs {
  display: none;
}

#uiMostPlayedArtistsList,
#uiMostPlayedSongsList {
  width: 100%;
}

.data-loaded #uiDataLoader {
  height: auto;
}

.data-loaded #uiMostPlayedArtists,
.data-loaded #uiMostPlayedSongs {
  display: block;
}
