body {
  margin: 0;
  padding: 0;
}

#uiDataLoader {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#uiDataLoader form {
  display: flex;
  flex-direction: column;
}

#uiDataLoaderFile {
  display: none;
}

label[for="uiDataLoaderFile"] {
  border: 3px dashed gray;
  border-radius: 3px;
  padding: 3rem;
  margin: 1rem;
  text-align: center;
  background-color: #eee;
}

.instructions {
  margin: 1rem;
}

.most-played-artists-list-wrapper,
.most-played-songs-list-wrapper {
  height: 14rem;
  overflow-y: auto;
  border: 1px solid black;
}

#uiMostPlayedArtists,
#uiMostPlayedSongs {
  display: none;
}

#uiMostPlayedArtistsList,
#uiMostPlayedSongsList {
  width: 100%;
}

.data-loaded #uiDataLoader {
  display: none;
}

.data-loaded #uiMostPlayedArtists,
.data-loaded #uiMostPlayedSongs {
  display: block;
}
